<nav class="flex justify-between items-center container mx-auto px-5 my-4" data-turbo="false">
  <%= link_to root_url do %>
    <h1 class="text-2xl lg:text-[40px] font-bold"><%= t('navbar.title') %></h1>
  <% end %>
  <%- if helpers.current_user %>
    <%= render Ui::MenuComponent.new do |m| %>
      <%- m.toggler do %>
        <span class="flex items-center">
          <span class="mr-3">
            <%= helpers.current_user.handle %>
          </span>
          <%= helpers.user_avatar_tag(helpers.current_user)%>
        </span>
      <% end %>
      <%- m.body do %>
        <div class="flex flex-col gap-4">
          <%= link_to t('navbar.actions.show_profile'), helpers.user_url(helpers.current_user), method: :get, class: 'dark:text-black text-sm' %>
          <%= link_to t('navbar.actions.logout'), '/auth/logout', method: :get, class: 'dark:text-black text-sm' %>
        </div>
      <% end %>
    <% end %>
  <%- else %>
    <%= button_to t('navbar.actions.login'), '/auth/auth0', class: 'btn-primary', method: :post %>
  <% end %>
</nav>
