<div id="<%= dom_id(user) %>">
  <p class="my-5 flex items-center gap-4">
    <span class="hidden sm:block">
      <%= user_big_avatar_tag(user) %>
    </span>
    <span class="sm:hidden">
      <%= user_avatar_tag(user) %>
    </span>
    <span class="text-3xl sm:text-[40px]">
      <%= user_handle(user) %>
    </span>
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 lg:gap-8 mb-4">
    <%- { posts_count: user_path(user), followers_count: followers_user_path(user), followees_count: followees_user_path(user) }.each do |stat, link| %>
      <%= link_to link, class: "flex flex-col justify-center items-center bg-gray-100 dark:bg-gray-800/30 rounded-lg p-1 sm:p-4 lg:p-8" do %>
        <div class="text-primary text-xl sm:text-2xl md:text-3xl font-bold"><%= user.send(stat) %></div>
        <div class="text-sm sm:text-base font-semibold"><%= t(".stats.#{stat}") %></div>
      <% end %>
    <% end %>
  </div>
</div>
