<%= turbo_frame_tag dom_id(post) do %>
  <%- can_do_public_actions = ((controller_name != 'posts' || (controller_name == 'posts' && action_name != 'show'))) && !post.parent %>
  <div
    data-controller="post-actions"
    data-post-actions-edit-url-value="<%= edit_post_path(post) %>"
    data-post-actions-show-url-value="<%= post_path(post) %>"
    data-post-actions-show-user-url-value="<%= user_path(post.user) %>"
    data-action="<%= 'click->post-actions#show' if can_do_public_actions %>"
    class="block border rounded-lg dark:border-gray-300 mb-6 p-4 transition-all relative z-0 <%= 'hover:bg-gray-100/5 cursor-pointer' if can_do_public_actions %>"
    >
    <div class="flex items-center justify-between">
      <div class="cursor-pointer" data-action="click->post-actions#showUser:stop">
        <%= user_avatar_tag(post.user) %>
        <span><%= user_handle(post.user) %></span>
      </div>
      <div class="flex items-center">
        <span class="text-gray-500">
          <%- if post.created_at < 1.minute.ago %>
            <%= relative_post_timestamp(post) %>
          <%- else %>
            à l'instant
          <% end %>
        </span>
        <%- if post.user == current_user && can_do_public_actions %>
          <%= render Ui::MenuComponent.new do |m| %>
            <%- m.toggler do %>
              <div class="rotate-90 scale-[.6]">&bull;&bull;&bull;</div>
            <% end %>
            <%- m.body do %>
              <div class="flex flex-col gap-4">
                <span class="text-sm text-black" data-action="click->post-actions#edit"><%= t('posts.actions.edit') %></span>
                <span class="text-sm text-black" data-action="click->post-actions#destroy"><%= t('posts.actions.destroy') %></span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="mt-5">
      <%= post.body %>
    </p>
  </div>
<% end %>
