<div class="w-full">
  <div class="flex justify-between items-center">
    <h3 class="font-bold text-4xl"><%= t('.title') %></h1>
    <%= link_to t('.new'), nil, class: 'btn-primary', data: { controller: 'new-post', 'new-post-url-value': new_post_path, action: 'new-post#fetchModal' } %>
  </div>
  <%= turbo_stream_from "posts"%>
  <div id="posts" class="min-w-full py-6">
    <%= turbo_frame_tag "posts" do %>
      <%- if @posts.any? %>
        <%= render @posts %>
      <%- else %>
        <% render 'placeholder' %>
      <% end %>
    <% end %>
  </div>
</div>
