<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">TrucsFeed</h1>
    <%= link_to 'ðŸ–Šï¸ Ã‰cris un truc', new_post_path, class: 'btn-primary' %>
  </div>

  <%= turbo_stream_from "posts"%>

  <div id="posts" class="min-w-full py-6">
    <%= turbo_frame_tag "posts" do %>
      <%- if @posts.any? %>
          <%= render @posts %>
      <%- else %>
          <% render 'placeholder' %>
      <% end %>
    <% end %>
  </div>
</div>
